<header class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/"><img style="width: 4em" src="/images/logo-node.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <nav class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">
          <div style="display:inline-flex; align-items: center; margin: auto 1em auto 1em">accueil</div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/doc">
          <div style="display:inline-flex; align-items: center; margin: auto 1em auto 1em">documentation</div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/api/rest/v1/">
          <div style="display:inline-flex; align-items: center; margin: auto 1em auto 1em">Rest API</div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/api/graphql/v1/">
          <div style="display:inline-flex; align-items: center; margin: auto 1em auto 1em">GraphQL API</div>
        </a>
      </li>
      <!--
        <li class="nav-item">
          <a class="nav-link" href="/socketio/tchat">
            <div style="display:inline-flex; align-items: center; margin: auto 1em auto 1em">tchat SocketIO</div>
          </a>
        </li>
      -->
    </ul>
  </nav>
</header>