<!doctype html>
<html lang="fr">
    <head>
        <%- include ('includes/head.ejs') %>
        <title>Home</title>
    </head>
    <body>
        <%- include ('includes/header.ejs') %>
        <div class="container">
            <div class="jumbotron my-4">
                <h1 class="display-3">Bienvenue</h1>
                <p>Voici mon site sous Express</p>
            </div>
        </div>
        <%- include ('includes/footer.ejs') %>
    </body>
</html>