<!doctype html>
<html lang="fr">

<head>
    <%- include ('includes/head.ejs') %>
        <title>About me</title>
</head>

<body>
    <%- include ('includes/header.ejs') %>
        <div class="container">
            <div class="jumbotron my-4">
                <h1 class="display-3">Documentation officiel de l'API</h1>
            </div>
        </div>
        <%- include ('includes/footer.ejs') %>
</body>

</html>